@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.animate-scroll {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
